
.CodeMirror {
    border: 1px solid #BBBBBB;
}

.CodeMirror-gutter {
    width: 4em;
    background: white;
}

span.CodeMirror-matchhighlight {
    background: #e9e9e9;
}
.CodeMirror-focused span.CodeMirror-matchhighlight {
    background: #e7e4ff; !important
}
.activeline {
    background: #e8f2ff !important;
}
.markedline {
    background-color: #f6d1ff !important;
    color: #5a005a !important;
    padding: 0;
    border: none;
}
